include src/justdeepit/src/font/*
include src/justdeepit/app/static/*
include src/justdeepit/app/static/jqueryfiletree/*
include src/justdeepit/app/static/jqueryfiletree/images/*
include src/justdeepit/app/templates/*
