include justdeepit/src/font/*
include justdeepit/app/static/*
include justdeepit/app/static/jqueryfiletree/*
include justdeepit/app/static/jqueryfiletree/images/*
include justdeepit/app/templates/*
include requirements.txt
